* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #141414d6;
}

::placeholder {
    color: white;
    opacity: 1;
}

header {
    background-color: #181c24;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
}

#containerLogo {
    margin-left: 10px;
    background-color: #181c24;
    height: 100%;
}

#containerInputSearch {
    width: 22%;
    background: #181c24;
    display: flex;
    align-items: center;
}

#inputSearch {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 5px;
    outline: white 1px solid;
    border: none;
    color: white;
    height: 45px;
    background-color: #181c24;
    width: 100%;
}

#svg_null {
    height: 100%;
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3vw;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    word-spacing: 12px;
}

#containerImg {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#subnav {
    height: 50px;
    width: 100%;
    background-color: #4d4646;
}

a {
    color: white;
    text-decoration: none;
}

.containerList {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 2.5vmax;
    font-family: 'Raleway', sans-serif;
    word-spacing: 12px;
    font-weight: 400;
}

#footer {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 25px;
    background-color: #4d4646;
}